/* You can add global styles to this file, and also import other style files */
#themecolors .selector{
cursor: pointer;
}
.avatar{
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
}
.img-avatar {
    width: 200px;
}